.static-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Asegúrate de que el toolbar esté por encima de otros elementos */
}

.ht-spacer {
  flex: 1 1 auto;
}

.ht-container {
  width: 100%;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.ht-sidenav-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
}

.ht-sidenav {
  width: 230px;
}
