.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.example-card {
  width: 250px; /* Cambia esto a la anchura que desees */
  height: 250px; /* Cambia esto a la altura que desees */
}

.example-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.ngx-gallery { display: inline-block; margin-bottom: 20px; }

.btn-delete-image {
  position: absolute;
  top: 5px;
  right: -2px;
  background-color: rgba(255, 0, 0, 0.8); /* Rojo con opacidad */
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
  width: 50px; /* El ancho será ajustado automáticamente */
  min-width: 30px; /* Ancho mínimo para que no se haga demasiado pequeño */
  max-width: 50px; /* Ancho máximo para evitar que sea largo */
  text-align: center;
  transition: background-color 0.3s;
}

.btn-delete-image:hover {
  background-color: rgba(255, 0, 0, 1); /* Cambio al pasar el mouse */
}

.radio-group-container {
  display: flex; // Alinea los elementos en una fila
  flex-wrap: wrap; // Permite que los elementos se ajusten a la siguiente línea si no caben
  gap: 14git px; // Espacio entre cada radio button con sus botones asociados
}

.dispositivo-container {
  display: flex; // Hace que cada "radio-button-container" se muestre como un elemento en línea
  align-items: center; // Alinea verticalmente los elementos
}

.radio-button-container {
  display: flex; // Mantiene el radio button y los botones en una fila
  align-items: center;

  .btn-container {
    display: flex; // Coloca los botones en una fila
    visibility: hidden; // Oculta inicialmente los botones
    opacity: 0; // Transición suave al hacer hover
    transition: visibility 0.2s, opacity 0.2s ease-in-out;
    margin-left: 8px; // Espacio entre el texto del radio y los botones
    gap: 4px; // Espaciado uniforme entre botones
  }

  &:hover .btn-container {
    visibility: visible; // Muestra los botones al pasar el cursor
    opacity: 1;
  }

  .btn-small {
    width: 24px; // Tamaño del botón
    height: 24px;
    padding: 0;
    border-radius: 50%;

    mat-icon {
      font-size: 16px; // Tamaño del ícono
    }
  }
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-left-20 {
  margin-left: 20px;
}

.invalid-panel {
  border: 2px solid red;
}

  @media(max-width: 800px){

    mat-icon {
      font-size: 12px; 
    }

    .title-resp{
      display: inline; 
      white-space: nowrap;
      margin: 0;
      padding: 0;
      padding-bottom: 30px;
      font-size: 10px;
    }

    .select-container {
      width: 75%;  
    }

    .rectangular-button {
      border-radius: 0; 
      margin-bottom: 70px;
    }

    .button-container{
      display: none;
    }

    .btn-actions{
      margin-top: -25px;
      margin-bottom: -15px;
    }

  }