<h2 mat-dialog-title>{{type === 'ver' ? 'Ver Técnico' : (type === 'editar' ? 'Editar Técnico' : 'Nuevo Técnico')}} </h2>
<mat-dialog-content>
  <form autocomplete="" [formGroup]="myForm">
    <div class="row g-3 mt-2">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Nombre:</mat-label>
          <input matInput formControlName="nombre" />
          <mat-icon matSuffix>badge</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Dirección:</mat-label>
          <input matInput formControlName="direccion" />
          <mat-icon matSuffix>home</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>WhatsApp:</mat-label>
          <input matInput formControlName="whatsApp" type="number" />
          <mat-icon matSuffix>phone_iphone</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Correo:</mat-label>
          <input matInput formControlName="correo" type="email" />
          <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Contraseña:</mat-label>
          <input matInput formControlName="password" type="password" />
          <mat-icon matSuffix>password</mat-icon>
          <mat-error *ngIf="myForm.get('password')?.hasError('required')">
            La contraseña es obligatoria.
          </mat-error>
          <mat-error *ngIf="myForm.get('password')?.hasError('minlength')">
            La contraseña debe tener al menos 6 caracteres.
          </mat-error>
        </mat-form-field>
      </div>
      <hr />
      <div class="col-md-10 checkboxHorizontal">
        <div *ngFor="let clasificacion of clasificaciones" class="row mb-2">
          <div class="col-md-6">
            <mat-checkbox [disabled]="isSaveDisabled" (change)="onCheckboxChange($event, clasificacion)"
              [checked]="isChecked(clasificacion.counter)">
              {{ clasificacion.nombre }}
            </mat-checkbox>
          </div>
          <div class="col-md-6 text-right position-relative">
            <!-- Botón Edit con tooltip -->
            <button mat-icon-button color="accent" [disabled]="isSaveDisabled"
              (click)="editClasificacion(clasificacion)" class="btn-small">
              <mat-icon>edit</mat-icon>
            </button>
            <!-- Botón Delete con tooltip -->
            <button mat-icon-button color="warn" [disabled]="isSaveDisabled"
              (click)="deleteClasificacion(clasificacion)" class="btn-small">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <div class="button-container">
          <button [disabled]="isSaveDisabled" mat-fab color="primary" (click)="openDialogClasificacion()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
      <hr />
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Clave:</mat-label>
          <input matInput formControlName="clave" />
          <mat-icon matSuffix>vpn_key</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Clasificación:</mat-label>
            <input matInput formControlName="clasificacion" [readonly]="true" />
          <mat-icon matSuffix>engineering</mat-icon>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="row gx-4 me-3">
    <div class="col">
      <button mat-button (click)="onNoClick()">Cerrar</button>
    </div>
    <div class="col">
      <button mat-flat-button color="primary" (click)="onSave()" [disabled]="isSaveDisabled">
        Guardar
      </button>
    </div>
  </div>
</mat-dialog-actions>
