<div class="row justify-content-center align-items-center g-2">
  <div class="col-4">
    <div class="ms-2 mt-2">
      <mat-form-field appearance="outline">
        <mat-label>Fitrar Productos</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input />
        <mat-icon fontIcon="search" matSuffix></mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div class="col-8">
    <div class="text-end me-2">
      <button mat-flat-button color="primary" (click)="openDialog()">Nuevo Producto</button>
    </div>
  </div>
</div>

<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>
    <!-- Clave Column -->
    <ng-container matColumnDef="clave">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Clave producto</mat-header-cell>
      <mat-cell *matCellDef="let row;">
        <span class="mobile-label">Clave producto:</span>
        {{ row.clave }}
      </mat-cell>
    </ng-container>

    <!-- Descripción Column -->
    <ng-container matColumnDef="descripcion">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">Descripción:</span>
        {{ row.descripcion }}
      </mat-cell>
    </ng-container>

    <!-- Precio Column -->
    <ng-container matColumnDef="precio">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Precio</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">Precio:</span>
        {{ row.precio | currency:'MXN':'symbol' }}
      </mat-cell>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">Acciones:</span>
        <button mat-icon-button color="primary" (click)="consultar(row)">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button color="accent" (click)="editar(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="eliminar(row)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell text-center" colspan="4">
        <h3 class="mt-4">
          No hay productos registrados
        </h3>
      </td>
    </tr>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>