<div class="row justify-content-center align-items-center g-2">
  <div class="col-4">
    <div class="ms-2 mt-2">
      <mat-form-field appearance="outline">
        <mat-label>Fitrar Clientes </mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input />
        <mat-icon fontIcon="search" matSuffix></mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div class="col-8">
    <div class="text-end me-2">
      <button mat-flat-button color="primary" (click)="openDialog()">Nuevo Cliente</button>
    </div>
  </div>
</div>

<div class="mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>
    <!-- clienteId Column -->
    <ng-container matColumnDef="clienteId">
      <mat-header-cell *matHeaderCellDef>Cliente ID</mat-header-cell>
      <mat-cell *matCellDef="let row; let i = index">
        <span class="mobile-label">Cliente ID:</span>
        {{ (i + 1) }}
      </mat-cell>
    </ng-container>

    <!-- Cliente Column -->
    <ng-container matColumnDef="cliente">
      <mat-header-cell *matHeaderCellDef>Cliente</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">Cliente:</span>
        {{ row.cliente }}
      </mat-cell>
    </ng-container>

    <!-- RFC Column -->
    <ng-container matColumnDef="rfc">
      <mat-header-cell *matHeaderCellDef>RFC</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">RFC:</span>
        {{ row.rfc }}
      </mat-cell>
    </ng-container>

    <!-- Telefono Column -->
    <ng-container matColumnDef="telefono">
      <mat-header-cell *matHeaderCellDef>Telefono</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">Telefono:</span>
        {{ row.telefono }}
      </mat-cell>
    </ng-container>

    <!-- Correo Column -->
    <ng-container matColumnDef="correo">
      <mat-header-cell *matHeaderCellDef>Correo</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">Correo:</span>
        {{ row.correo }}
      </mat-cell>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">Acciones:</span>
        <button mat-icon-button color="primary" (click)="consultar(row)">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button color="accent" (click)="editar(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="eliminar(row)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
 </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>